{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <a href="{{path('app_stripe_checkout')}}" id="checkout-link">
        checkout
    </a>
    <script>
        //  Ce script empêche l'action par défaut du lien (qui est de recharger la page)
        // et redirige l'utilisateur vers l'URL du lien à la place.
        // Cela permet la redirection même si elle est déclenchée à partir du même onglet.
        document.getElementById('checkout-link').addEventListener('click', function(event) {
            event.preventDefault();
            window.location.href = this.href;
        });
    </script>
{% endblock %}
