{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>home</h1>
     {% for message in messages %}
        <p>{{ message }}</p>
     {% endfor %}
{% endblock %}
